<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="/lib/bootstrap3/css/bootstrap.min.css" >
		<style type="text/css" title="currentStyle">
			@import "/lib/datatables/DataTables-1.9.4/media/css/demo_page.css";
			@import "/lib/datatables/DataTables-1.9.4/media/css/demo_table.css";
		</style>
		<link rel="stylesheet" href="/css/styles.css" >
		
	</head>
	<body>
		<div class="container hundred">
			<div class="row">
				<ol class="breadcrumb">
				  <li><a href="/index.html">Home</a></li>
				  <li><a href="/view/register.html">Add employee</a></li>
				  <li><a href="/view/list.html">List Employee</a></li>
				</ol>
			</div>	
		</div>
		<div class="container"> 
		<div id='showData'>
		<table id="dataTable" class="table table-striped">
			<thead>
				<th>ID</th><th>Name</th><th>Age</th><th>Company Name</th><th></th><th></th>
			</thead>
			<tbody id='mrows'>
			</tbody>
		</table>
		</div>
		</div>
		<script src="/lib/jquery/jquery-1.10.2.min.js"></script>
		<script src="/bootstrap3/js/bootstrap.min.js"></script>
		<script src="/lib/datatables/DataTables-1.9.4/media/js/jquery.dataTables.min.js"></script>
		<script src="/js/list.js"></script>
	</body>
</html>